*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #242422;
}

h1, p{
  text-align: center;
  font-weight: bold;
  margin: 40px;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}
h1{
  text-decoration: underline;
  
}
p{
  margin-top: -20px ;
}